.btn{
    background-color: forestgreen;
}
.icon{
    display:inline;
    width: 30px;
    height: 25px;
}
.text{
    display: inline;
}
.error{
    display: none;
    color: rgb(228, 22, 22);
    font-size: medium;
    font-weight: 700;
}